@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.5); /* Start smaller */
      opacity: 0;
    }
    100% {
      transform: scale(1); /* End at normal size */
      opacity: 1;
    }
  }
  
  .animate-zoomIn {
    animation: zoomIn 0.8s ease-out forwards;
  }
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes gradient-x {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes ping {
    75%, 100% {
      opacity: 0;
    }
  }
  
  .animate-fade-in-down {
    animation: fade-in-down 1s ease-out;
  }
  
  .animate-fade-in-left {
    animation: fade-in-left 1s ease-out;
  }
  
  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out;
  }
  
  .animate-gradient-x {
    animation: gradient-x 10s ease infinite;
  }
  
  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes gradient-x {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes ping {
    75%, 100% {
      opacity: 0;
    }
  }
  
  .animate-fade-in-down {
    animation: fade-in-down 1s ease-out;
  }
  
  .animate-fade-in-left {
    animation: fade-in-left 1s ease-out;
  }
  
  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out;
  }
  
  .animate-gradient-x {
    animation: gradient-x 10s ease infinite;
  }
  
  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  .animate-pulse {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  .delay-1000 {
    animation-delay: 1000ms;
  }